body { 
    width: 100%; 
    margin: 0; 
    border-top:20px; 
     margin-top: 20px;
}

#liste_heros {
    position: fixed; 
    width: 100%; 
    height: 100%; 
    background: url(menu69.jpg);
    background-size: cover; 
}


#heros_1 {
    position: absolute;
    background-color: dimgray;
    width: 100px;
    height: 100px;
    margin-top: 560px;  
    margin-left: 300px; 
    border:2px solid black; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}
#heros_2 {
    position: absolute;
    background-color: dimgray; 
    border:2px solid black; 
    border:2px solid black; 
    width: 100px;
    height: 100px;
    margin-top: 560px;  
    margin-left: 450px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}
#heros_3 {
    position: absolute;
    background-color: dimgray;
    border:2px solid black; 
    width: 100px;
    height: 100px;
    margin-top: 560px;  
    margin-left: 600px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}
#heros_4 {
    position: absolute;
    background-color: dimgray;
    border:2px solid black; 
    width: 100px;
    height: 100px;
    margin-top: 560px;  
    margin-left: 750px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}
#heros_5 {
    position: absolute;
    background-color: dimgray;
    border:2px solid black; 
    width: 100px;
    height: 100px;
    margin-top: 560px;  
    margin-left: 900px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}
#informations_perso {
    position: absolute; 
    width: 630px; 
    height: 350px;
    border: 2px solid red;
    left: 28%;
    right:40%;
    top:20%;
    background-color:black; 
}

#liste_armes{	
   
				position: relative;
				width: 60%;
				height: 635px;
				bottom :2px;
				margin: auto;
				border: 1px solid;
				border-radius: 2em;
				background-color: white;
    font-size: 30px;
}	
.nomarmes{
    margin-left: 40px;
    margin-top: 20px;
}
#armes_1{
			position: relative;
			width:  250px;
			height: 90px;
			border-right: 1px solid black;
			border-bottom: 1px solid black;
}

#armes_2{
			position: relative;
			width:  250px;
			height: 90px;
			border-right: 1px solid black;
			border-bottom: 1px solid black;
}

#armes_3{
			position: relative;
			width:  250px;
			height: 90px;
			border-right: 1px solid black;
			border-bottom: 1px solid black;
}

#armes_4{
			position: relative;
			width:  250px;
			height: 90px;
			border-right: 1px solid black;
			border-bottom: 1px solid black;
}

#armes_5{
			position: relative;
			width:  250px;
			height: 90px;
			border-right: 1px solid black;
			border-bottom: 1px solid black;
}

#armes_6{
			position: relative;
			width:  250px;
			height: 90px;		
			border-right: 1px solid black;
			border-bottom: 1px solid black;
}

#armes_7{
			position: relative;
			width:  250px;
			height: 90px;
			border-right: 1px solid black;
			
}


#armes_1d{
			position: relative;
			left:  550px;
			bottom: 663px;
			width:  250px;
			height: 90px;
			border-left: 1px solid black;
			border-bottom: 1px solid black;

}

#armes_2d{	
			position: relative;
			left:  550px;
			bottom: 663px;
			width:  250px;
			height: 90px;
			border-left: 1px solid black;
			border-bottom: 1px solid black;
}

#armes_3d{	
			position: relative;
			left:  550px;
			bottom: 663px;
			width:  250px;
			height: 90px;
			border-left: 1px solid black;
			border-bottom: 1px solid black;
}

#armes_4d{
			position: relative;
			left:  550px;
			bottom: 663px;
			width:  250px;
			height: 90px;
			border-left: 1px solid black;
			border-bottom: 1px solid black;
}

#armes_5d{
			position: relative;
			left:  550px;
			bottom: 663px;
			width:  250px;
			height: 90px;
			border-left: 1px solid black;
			border-bottom: 1px solid black;
}

#armes_6d{
			position: relative;
			left:  550px;
			bottom: 663px;
			width:  250px;
			height: 90px;
			border-left: 1px solid black;
			border-bottom: 1px solid black;
}

#armes_7d{
			position: relative;
			left:  550px;
			bottom: 663px;
			width:  250px;
			height: 90px;
			border-left: 1px solid black;
			
}

.afficher_arme {
    position: absolute;
    width: 70%;
    height: 90%;
    margin-top: -600px;
    margin-left: 300px;
}
#afficher_arme{
    width: 70%;
}