@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body { 
    width: 100%; 
    margin: 0; 
    border-top:20px; 
     margin-top: 20px;
 
}


#ch_heros {
    font-family: 'Press Start 2P', cursive;
    background-color: darkgrey;
    width: 500px;
    height: 50px;
    margin: auto;
    text-align: center;
    line-height: 50px;
}
.container {
    margin-top: -0px !important;
     width: 600px;
    margin: auto;
     background: url(menu69.jpg);
    background-size: cover; 
}

#cont_img_heros{
    height: 500px;
    width: 565px;
    background-color: gainsboro;
    border: 2px solid black;
    border-radius: 5px;
  
}

#liste_heros {
    width: 100%;
    margin-top: 50px;
}

#heros_1 {
    background-color: dimgray;
    width: 100px;
    height: 100px; 
    margin-right: 10px; 
    display: inline-block;
    border:2px solid black; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}
#heros_2 {
    background-color: dimgray; 
    border:2px solid black; 
    border:2px solid black; 
    width: 100px;
    height: 100px;
      margin-right: 10px; 
    display: inline-block;  
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}
#heros_3 {
    background-color: dimgray;
    border:2px solid black; 
    width: 100px;
    height: 100px;
      margin-right: 10px; 
    display: inline-block;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}
#heros_4 {
    background-color: dimgray;
    border:2px solid black; 
    width: 100px;
    height: 100px;
       margin-right: 10px; 
    display: inline-block; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}
#heros_5 {
    background-color: dimgray;
    border:2px solid black; 
    width: 100px;
    height: 100px;
       margin-right: 10px; 
    display: inline-block; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}
#informations_perso {
    position: absolute; 
    width: 630px; 
    height: 350px;
    border: 2px solid red;
    left: 28%;
    right:40%;
    top:20%;
    background-color:black; 
}

#liste_armes{	
   font-family: 'Press Start 2P', cursive;
				position: relative;
				width: 60%;
				height: 70vh;
				bottom :2px;
				margin: auto;
				border-radius: 10px;
				background-color:darkgray;
    font-size: 13px;
}	
.nomarmes{
    margin-left: 20px;
    margin-top: 20px;
 
}

#titre_armes
{
			position: relative;
			width:  100%;
			height: 50px;
			border-bottom: 1px solid black;
    background-color: #FF2C2C;
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
}

.titre_armes_text{
    position: relative;
    width:  100%;
    margin: 0 auto;
    text-align:center;
    display: block;
}
    
#armes_1{
			width:  50vh;
			
			border-right: 1px solid black;
			border-bottom: 1px solid black;
    background-color: #BEC7BC;
}
#armes_1:hover{
			 
			
			outline: 2px solid black;
    background-color:cadetblue;
}

#armes_2{
			position: relative;
			 
			
			border-right: 1px solid black;
			border-bottom: 1px solid black;
     background-color: #BEC7BC;
}
#armes_2:hover{
			 
			
			outline: 2px solid black;
    background-color:cadetblue;
}
#armes_3{
			position: relative;
			 
			
			border-right: 1px solid black;
			border-bottom: 1px solid black;
     background-color: #BEC7BC;
}
#armes_3:hover{
			 
			
			outline: 2px solid black;
    background-color:cadetblue;
}
#armes_4{
			position: relative;
			 
			
			border-right: 1px solid black;
			border-bottom: 1px solid black;
     background-color: #BEC7BC;
}
#armes_4:hover{
			 
			
			outline: 2px solid black;
    background-color:cadetblue;
}
#armes_5{
			position: relative;
			 
			
			border-right: 1px solid black;
			border-bottom: 1px solid black;
     background-color: #BEC7BC;
}
#armes_5:hover{
			 
			
			outline: 2px solid black;
    background-color:cadetblue;
}
#armes_6{
			position: relative;
			 
					
			border-right: 1px solid black;
			border-bottom: 1px solid black;
     background-color: #BEC7BC;
}
#armes_6:hover{
			 
			
			outline: 2px solid black;
    background-color:cadetblue;
}
#armes_7{
			position: relative;
			 
			
			border-right: 1px solid black;
     background-color: #BEC7BC;
			
}
#armes_7:hover{
			position: relative;
			
			outline: 2px solid black;
    background-color:cadetblue;
			
}



.bt_armes {
    margin: auto;
  
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 green, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 green, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 greend, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 25px;
    color: #fff;
}

.bt_armes span {
    display: inline-block;
    padding: 20px 30px;
    background-color: green;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Press Start 2P', cursive;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.bt_armes:hover span {
    background-color: green;
    color: black;
    text-shadow: 0 -8px 20px rgba(175, 49, 95, .9), 0 0 20px rgba(255, 255, 255, .8);
}

.bt_armes:active, .bt_armes:focus {
    -webkit-box-shadow:    0 8px 0 green, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 green, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 green, 0 12px 10px rgba(0, 0, 0, .3);
}

.bt_armes:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
#bouton_armes{
    margin: auto;
    text-align: center; 
      margin-top: 30px;
}
.cl-effect-1{
    display: block;
    height: 100%;
}
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.memorise_arme{
			outline: 2px solid black !important;
    background-color:cadetblue !important;
    background-image: url(img/check.png) !important;
    background-repeat: no-repeat;
     background-size: cover !important;
}
.afficher_arme {
    width:  80vh;
    height: 40vh;
    background-image: url(img/fond-img-arme.jpg);
    background-size: cover;
}
#afficher_arme {
    position: absolute;
    width: 33%;
}
.centrer_img {
    margin-left: 100px;
    margin-top: -100px;
}


#credit {
    width: 80vh; 
    margin: auto; 
    background-color: white;
}






#total_arme_cpu{
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  margin-left: 78%;
}
#total_arme_joueur{
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  margin-left: 2%;
}
.style_button{
  font-family: 'Press Start 2P', cursive;
  float: left;
  width: 160px;
  margin-top: 3%;
  margin-left: 30%;
  background-color: red;
  padding: 8px;
  color:#f7f8f9;
  border: 2px solid #2af518 ;
  border-radius: 2px;
}
.vert{
  background-color:green;
}
.combat{
  margin-top: 15%;
}
.btn{
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 3%;
  margin-left: 70%
  width: 256px;
  text-align: center;
}
.combat_left {
  height: 200px;
    width: 49%;
    float: left;
}
.combat_right {
    height: 200px;
    width: 49%;
    float: left;
}

    .a_effacer {
        display: none;
    }

    .score_j1 {
        position: absolute;
        top:0;
      margin-top: 2%;
      font-family: 'Press Start 2P', cursive;
      color: white;
    left: 30px;
      display: inline-block;
       height: 100px;
        width: 300px;
        background-image: url("img/Boutonrouge.jpg");
        font-size: 30px;
        text-align: center;
    }

    .score_cpu {
         position: absolute;
        top:0;
      margin-top: 2%;
      font-family: 'Press Start 2P', cursive;
      color: white;
      right: 30px;
        display: inline-block;
        height: 100px;
        width: 300px;
        background-image: url("img/Boutonvert.jpg");
        font-size: 30px;
        text-align: center;
    }

    #perdu {
      font-family: 'Press Start 2P', cursive;
        height: 150px;
        width: 400px;
        background-color: grey;
        font-size: 20px;
        text-align: center;
        color: white;
        position: absolute;
        
        right: 0px;
        margin: auto;
        top: 50px;
    }

    #gagne {
      font-family: 'Press Start 2P', cursive;
      margin: auto;
        height: 100px;
        width: 300px;
        background-color: grey;
        font-size: 20px;
        text-align: center;
        color: white;
        position: absolute;
        margin: auto;
        top: 150px;
        right: 42%;
    }






#versus {  
    margin-left: 50px; 
    margin-top: 10px; 
    display: inline-block; 
}
#versus_1 { 
/*    position: absolute; */
    width: 400px; 
    height: 400px; 
    background-color: black; 
    border: 2px solid dimgray; 
    margin-top:100px; 
    display: inline-block; 
    margin-left: 180px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
    opacity: 0.7; 
}
#versus_2 { 
    width: 400px; 
    height: 400px; 
    background-color: black; 
    border: 2px solid dimgray; 
    margin-top: 100px;    
    display: inline-block; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
    opacity: 0.7; 
}

.hero_g { 
    position: absolute; 
    display: inline-block; 
}
.hero_d { 
    position: absolute; 
    display: inline-block; 
}
#text_vs { 
    font-size:50px; 
    color:red; 
    text-align: center; }
p { 
    width: auto; 
    position:absolute; 
    margin-left: 31%; 
    margin-top:2%; 
    color: saddlebrown; 
    font-size:50px; 
    font-family: Century Gothic, sans-serif; }
.bouton { 
    position: absolute; 
    margin-left:500px;
    margin-top: 50px; 
}

.VS { 
    position:absolute;
    margin-left: 460px;
    margin-top: -40px;
    z-index: 1;
}
/*.VS {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 50%; 
  }

  to {
    margin-left: 20%;
    width: 50%;
  }
}*/








